<%- include("./partials/head.ejs") %>
<%- include("./partials/links.ejs") %>

<body class="bg-gray-50 font-mont">

    <!-- Navbar -->
    <div class="z-50 w-full text-gray-700 bg-indigo-900 fixed">
        <div x-data="{ open: false }"
            class="flex flex-col px-3 mx-auto md:items-center md:flex-row md:px-6 lg:px-8">
            <div class="p-3 flex flex-row items-center justify-between">
                <a href="/"
                    class="md:text-4xl text-3xl font-bold tracking-widest text-white uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline">E-Cell</a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline outline-none"
                    @click="open = !open">
                    <svg fill="white" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div :class="{'flex': open, 'hidden': !open}"
                class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline active:bg-gray-600 text-white"
                    href="#about">About Us</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#vision">Vision</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#team">Team</a>
                <button
                    class="inline-flex mx-2 text-white bg-indigo-500 border-0 py-2 px-3 focus:outline-none hover:bg-indigo-600 rounded text-sm">Join
                    Us!</button>
                <button
                    class="w-12 h-6 my-auto ml-3 mt-4 md:mt-2 rounded-full bg-white flex items-center transition duration-300 focus:outline-none shadow"
                    onclick="toggleTheme()">
                    <div id="switch-toggle"
                        class="w-7 h-7 relative rounded-full transition duration-500 transform bg-yellow-500 -translate-x-2 p-1 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- Navbar -->

    <!-- Banner -->
    <div id="banner" class="overflow-hidden pt-20 pb-10 w-full">
        <div data-aos="fade-up" class="flex flex-col">
            <div class="text-center">
                <p class="md:text-xl text-md font-semibold">Innovate | Work Hard | Grow</p>
                <h1 amp-fx="parallax" data-parallax-factor="1.7"
                    class="text-4xl md:text-5xl lg:text-5xl p-5 font-bold">
                    Technical
                    <br>Department
                </h1>
                <blockquote>
                    <p
                        class="italic bg-neutral-100 text-neutral-600 text-xl md:text-2xl text-gray-800 border-neutral-500 quote_test">
                        Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </blockquote>
            </div>

        </div>
    </div>
    <!-- Banner -->

    <!-- About Us Section -->
    <div id="about" class="bg-blue-100">
        <div class="py-16 px-10">
            <div class="container">
                <div class="flex flex-wrap items-center">
                    <div class="w-full lg:w-1/2">
                        <div class="mb-5 lg:mb-0">
                            <h2 class="mb-3 text-gray-700 text-4xl font-bold">About Us</h2>
                            <div class="border-gray-700 border-b-2 w-1/2 md:w-1/6 border-opacity-50 mb-12">
                            </div>
                            <div class="flex flex-wrap">
                                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                                    <div class="m-3">
                                        <div class="text-indigo-600 text-4xl">
                                            <i class="fas fa-layer-group"></i>
                                        </div>
                                        <div class="">
                                            <h4 class="py-3 text-xl text-black font-semibold">Organized</h4>
                                            <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit. Veniam tempora
                                                quidem vel sint.</p>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                                    <div class="m-3">
                                        <div class="text-indigo-600 text-4xl">
                                            <i class="fas fa-gift"></i>
                                        </div>
                                        <div class="features-content">
                                            <h4 class="py-3 text-xl text-black font-semibold">Prizes</h4>
                                            <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit. Veniam tempora
                                                quidem vel sint.</p>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                                    <div class="m-3">
                                        <div class="text-indigo-600 text-4xl">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        <div class="features-content">
                                            <h4 class="py-3 text-xl text-black font-semibold">Flexibilty</h4>
                                            <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit. Veniam tempora
                                                quidem vel sint.</p>
                                        </div>
                                    </div>
                                </div>
                                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                                    <div class="m-3">
                                        <div class="text-indigo-600 text-4xl">
                                            <i class="fas fa-hands-helping"></i>
                                        </div>
                                        <div class="features-content">
                                            <h4 class="py-3 text-xl text-black font-semibold">Helpful</h4>
                                            <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit. Veniam tempora
                                                quidem vel sint.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mx-3 lg:mr-0 lg:ml-3 wow fadeInRight" data-wow-delay="0.3s">
                            <img src="/img/department_feature.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section -->

    <!-- Vision Section -->
    <section id="vision" class="bg-gray-50 text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-16 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="Technical"
                    src="/img/department_achievements.png">
            </div>
            <div
                class="lg:flex-grow md:w-1/2 md:pl-10 flex flex-col md:items-start md:text-left items-center text-center">
                <h2 class="mb-3 text-gray-700 text-4xl font-bold">Vision</h2>
                <div class="border-gray-700 border-b-2 w-1/5 md:w-1/6 border-opacity-50 mb-12"></div>

                </h1>
                <p data-aos="fade-up" class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over
                    freegan heirloom neutra air
                    plant
                    cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot
                    chicken
                    authentic
                    tumeric truffaut hexagon try-hard chambray.</p>
                <p data-aos="fade-up"> Provident autem ad non placeat, labore quam quidem aperiam odio, eos
                    voluptatem est officia!
                    Lorem
                    ipsum
                    dolor sit amet consectetur adipisicing elit.illo dolores fugit, eum inventore ipsam vel
                    alias id
                    officiis
                    Fugiat nisi provident ipsum sit vero, totam numquam assuveritatis maxime quos voluptatibus
                    illo
                    dolores fugit,
                    eum inventore ipsam vel alias id officiis.</p>
                <div class="flex pt-8 justify-center">
                    <button
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Join
                        Us!</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Vision Section -->

    <!-- Team Section -->
    <section id="team" class="py-24 bg-blue-100 text-center">
        <div class="container">
            <div class="text-center flex flex-col justify-center items-center">
                <div class="mb-3 text-gray-700 text-4xl font-bold">Our Team</div>
                <div class="border-gray-700 border-b-2 w-1/3 md:w-1/12 border-opacity-50 mb-12"></div>
            </div>
            <div class="flex flex-wrap justify-center">

                <div data-aos="fade-up" class="max-w-sm sm:w-1/2 md:w-1/2 lg:w-1/3">
                    <div class="team-item">
                        <div class="team-img relative">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="">
                            <div class="team-overlay">
                                <ul class="flex justify-center">
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-blue-800">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-red-600">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-gray-800">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center px-5 py-3">
                            <h3 class="team-name">John Doe</h3>
                            <p>Team Leader</p>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-up" class="max-w-sm sm:w-1/2 md:w-1/2 lg:w-1/3">
                    <div class="team-item">
                        <div class="team-img relative">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="">
                            <div class="team-overlay">
                                <ul class="flex justify-center">
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-blue-800">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-red-600">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-gray-800">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center px-5 py-3">
                            <h3 class="team-name">John Doe</h3>
                            <p>Front-End Developer</p>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-up" class="max-w-sm sm:w-1/2 md:w-1/2 lg:w-1/3">
                    <div class="team-item">
                        <div class="team-img relative">
                            <img class="img-fluid"
                                src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="">
                            <div class="team-overlay">
                                <ul class="flex justify-center">
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-blue-800">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-red-600">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="mx-1">
                                        <a href="#" class="social-link hover:bg-gray-800">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center px-5 py-3">
                            <h3 class="team-name">John Doe</h3>
                            <p>Back-end Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->

    <!-- Include Footer Section -->
    <%- include("../sections/footer.ejs") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/toggle.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            autoplaytime: 500,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });

        AOS.init();
        AOS.init({
            once: true,
        })
    </script>
    
</body>

</html>