<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
</head>

<body class="bg-purple-100 dark:border-gray-300">

<!-- Start of the navbar -->

  <div class="z-50 w-full dark:border-gray-500 text-gray-700 bg-indigo-900 fixed">
        <div x-data="{ open: false }" class="flex flex-col px-3 mx-auto md:items-center md:flex-row md:px-6 lg:px-8">
            <div class="p-3 flex flex-row items-center justify-between">
                <a href="/"
                    class="md:text-4xl text-3xl font-bold tracking-widest text-white uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline">E-Cell</a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline outline-none"
                    @click="open = !open">
                    <svg fill="white" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div :class="{'flex': open, 'hidden': !open}"
                class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline active:bg-gray-600 text-white"
                    href="#hero">Home</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#about">About</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#department">Departments</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:ml-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#event">Events</a>
                <a class="px-3 transition ease-in duration-200 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-900 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white md:mt-0 md:mx-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline text-white"
                    href="#contact">Contact</a>

            </div>
        </div>
    </div>

    <!-- End of the navbar -->

    <section class="text-gray-600 body-font relative">
        <div class="container pt-24 mx-16 mr-16 flex sm:flex-nowrap flex-wrap">

            <!-- Starting of the Image Section -->

            <div class="lg:max-w-lg lg:w-full md:w-5/12 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero" src="/img/Registration-Form.png">
            </div>

            <!-- End of the Image Section -->
             <!-- Starting of the Form section-->

            <form class="max-w-xs mx-16 md:w-4/6 rounded-lg shadow-xl overflow-hidden p-8 space-y-10 ">
                <h2 class="text-2xl font-bold text-center">Registration Form</h2>
                <div class="relative border-b-2 focus-within:border-blue-500">
                    <input type="text" name="FName" placeholder=" "
                        class="block w-full appearance-none focus:outline-none bg-transparent " />
                    <label for="FName" class="absolute top-0 -z-1 duration-300 origin-0">First Name</label>
                </div>
                <div class="relative border-b-2 focus-within:border-blue-500">
                    <input type="text" name="LName" placeholder=" "
                        class="block w-full appearance-none focus:outline-none bg-transparent" />
                    <label for="LName" class="absolute top-0 -z-1 duration-300 origin-0">Last Name</label>
                </div>
                <div class="relative border-b-2 focus-within:border-blue-500">
                    <input type="text" name="email" placeholder=" "
                        class="block w-full appearance-none focus:outline-none bg-transparent" />
                    <label for="email" class="absolute top-0 -z-1 duration-300 origin-0">Email</label>
                </div>
                <div class="relative border-b-2 focus-within:border-blue-500">
                    <input type="text" name="crn" placeholder=" "
                        class="block w-full appearance-none focus:outline-none bg-transparent" />
                    <label for="crn" class="absolute top-0 -z-1 duration-300 origin-0">College Roll Number</label>
                </div>
                <div class="relative border-b-2 focus-within:border-blue-500">
                    <input type="text" name="collegeName" placeholder=" "
                        class="block w-full appearance-none focus:outline-none bg-transparent" />
                    <label for="collegeName" class="absolute top-0 -z-1 duration-300 origin-0">College Name</label>
                </div>
                <div>
                    <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
                </div>
            </form>

            <!-- End of the Form section-->

        </div>
    </section>

    <!-- Starting of the Footer section-->

    <footer id="footer" class="bg-gray-800 py-10 md:py-5">
        <div class="px-10">
            <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 py-5 flex justify-center items-center wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="mx-3 mb-8">
                        <div class="footer-logo mb-3 flex justify-center">
                            <img class="rounded-full w-28 h-28" src="/img/logo-footer.jpg" alt="">
                        </div>
                        <p class="text-gray-300 text-center">Lorem abhi ipsum dolor sit amet, consectetur adipisicing
                            elit. Quisquam
                            excepturi quasi, ipsam
                            voluptatem.</p>
                    </div>
                </div>
                <div class="border-t-2 md:border-none  border-gray-700 border-dotted w-full sm:w-1/2 md:w-1/2 lg:w-1/4 wow py-5  fadeInUp"
                    data-wow-delay="0.4s">
                    <div class="mx-3 mb-8">
                        <h3 class="font-bold text-xl text-white mb-5">E-Cell</h3>
                        <ul class="text-gray-200 ">
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Blog</a></li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Mission</a></li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Monthly Magazine</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 wow py-5  fadeInUp" data-wow-delay="0.4s">
                    <div class="mx-3 mb-8">
                        <h3 class="font-bold text-xl text-white mb-5">Events</h3>
                        <ul class="text-gray-200 ">
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Live</a></li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Competitions</a>
                            </li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Archived</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 wow py-5  fadeInUp" data-wow-delay="0.4s">
                    <div class="mx-3 mb-8">
                        <h3 class="font-bold text-xl text-white mb-5">About</h3>
                        <ul class="text-gray-200 ">
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Career</a></li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Team</a></li>
                            <li><a href="#" class="footer-links duration-300 hover:text-indigo-600">Portfolio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="bg-gray-800 py-3 border-t-2 flex flex-col border-gray-700 border-dotted">
        <div class="w-full wow py-2 flex justify-center items-center fadeInUp" data-wow-delay="0.8s">
            <div class="mx-3 mb-2">
                <h3 class="font-bold text-xl text-white text-center mb-5">Find us on</h3>
                <div class="social justify-start">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-linkedin-in"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="far fa-envelope"></a>
                    <a href="#" class="fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full px-1 text-center">
                    <p class="text-white">Developed with
                        <i class="fas fa-heart"></i> By <a class="text-white duration-300 hover:text-indigo-600"
                            href="#" rel="nofollow">Technical Team, E-Cell</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Starting of the Footer section-->

</body>
</html>