<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">

  <title>E-Cell | GNDEC</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="img/favicon.png" type="image/gif" sizes="16x16">

  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/slick.css">

  <link rel="stylesheet" href="/css/LineIcons.2.0.css">

  <link rel="stylesheet" href="/css/custom-new.css">

  <link href="/css/styles.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="hidden preloader">
    <div class="loader">
      <div class="ytp-spinner">
        <div class="ytp-spinner-container">
          <div class="ytp-spinner-rotator">
            <div class="ytp-spinner-left">
              <div class="ytp-spinner-circle"></div>
            </div>
            <div class="ytp-spinner-right">
              <div class="ytp-spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <header class="header-area">
    <div class="navbar-area ">
      <div class="container relative z-50">
        <div class="row">
          <div class="w-full">
            <nav class="flex items-center justify-between navbar navbar-expand-lg">
              <a class="mr-4 navbar-brand" href="/">
                <span class="navbar-brand-name text-white text-4xl font-semibold">E-Cell</span>
              </a>
              <button class="block navbar-toggler focus:outline-none lg:hidden" type="button" data-toggle="collapse"
                data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div
                class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
                id="navbarOne">
                <ul id="nav"
                  class="items-center mr-auto lg:justify-end relative inline-block text-white capitalize duration-300 lg:flex">
                  <li class="nav-item md:pb-2 active text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#home">Home</a>
                  </li>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#about">About</a>
                  </li>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#features">Features</a>
                  </li>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#facts">Why</a>
                  </li>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="#team">Team</a>
                  </li>
                  <li class="nav-item md:pb-2 text-lg md:text-base">
                    <a class="scroll-page hover:text-red-300 duration-200" href="#testimonial">Testimonial</a>
                  </li>
                </ul>
              </div>
              <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
                <a class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                  data-scroll-nav="0" href="#" rel="nofollow">Join Us</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div id="home" class="header-hero relative sm:h-screen">
      <svg class="absolute bottom-0 z-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
          d="M0,192L48,202.7C96,213,192,235,288,208C384,181,480,107,576,106.7C672,107,768,181,864,186.7C960,192,1056,128,1152,138.7C1248,149,1344,235,1392,277.3L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
      </svg>
      <div class="w-full h-screen z-50">
        <div class="container flex w-full flex-col justify-center">
          <div class="justify-center row">
            <div class="w-full lg:w-2/3">
              <div class="pt-32 mb-12 text-center lg:pt-48 header-hero-content">
                <h3 class="text-4xl font-light leading-tight text-white header-sub-title wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="0.2s">Guru Nanak Dev <span>Engineering
                    College</span></h3>
                <h2 class="mb-3 text-4xl font-bold text-white header-title wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.5s">Entrepreneurship Cell</h2>
                <p class="mb-8 text-white text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  "Don't let the
                  noise of other's opinions drown out your own inner voice."
                  <br>- Steve Jobs
                </p>
                <a href="#about"
                  class="scroll-page bg-gray-200 text-black hover:bg-white hover:shadow-xl duration-200 p-3 rounded font-semibold wow fadeInUp"
                  data-wow-duration="1.3s" data-wow-delay="1.1s">Get Started</a>
              </div>
            </div>
          </div>
          <div class="justify-center row z-50">
            <div class="w-full lg:w-2/3">
              <div class="text-center header-hero-image wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                <img class="rounded-lg" src="/img/hero-steve.jpg" alt="hero">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="particles-1" class="particles"></div>
    </div>
  </header>


  <section id="about" class="relative pt-5 xl:pt-20 2xl:pt-48 about-area">
    <div class="container">
      <div class="row">
        <div class="w-full lg:w-1/2">
          <div class="mx-4 mt-12 about-content wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="mb-4 section-title">
              <div class="line"></div>
              <h3 class="text-4xl font-bold">About<span class="font-normal"> Us</span></h3>
            </div>
            <p class="mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod
              tempor invidunt
              ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
              duo dolores et
              ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum
              dolor sit amet, consetetur sadipscing.</p>
            <a href="javascript:void(0)"
              class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Know
              More</a>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="mx-4 mt-12 text-center about-image wow fadeInRightBig" data-wow-duration="1s"
            data-wow-delay="0.5s">
            <img src="/img/about1-team.png" alt="about">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="relative pt-20 about-area">
    <div class="container">
      <div class="row">
        <div class="w-full lg:w-1/2 lg:order-last">
          <div class="mx-4 mt-12 about-content wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="mb-4 section-title">
              <div class="line"></div>
              <h3 class="font-normal text-4xl">Our<span class="font-bold"> Vision</span></h3>
            </div>
            <p class="mb-8">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod
              tempor invidunt
              ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
              duo dolores et
              ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum
              dolor sit amet, consetetur sadipscing.</p>
            <a href="javascript:void(0)"
              class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-3  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500">Know
              More</a>
          </div>
        </div>
        <div class="w-full lg:w-1/2 lg:order-first">
          <div class="mx-4 mt-12 text-center about-image wow fadeInRightBig" data-wow-duration="1s"
            data-wow-delay="0.5s">
            <img src="/img/about2-time-management.png" alt="about">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="services-area pt-16">
    <div class="container">
      <div class="justify-center row">
        <div class="w-full lg:w-2/3">
          <div class="pb-10 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-4xl font-bold">Our goals and objectives,<span class="font-normal"> to build a
                good
                entrepreneurship community</span></h3>
          </div>
        </div>
      </div>
      <div class="justify-center grid lg:grid-cols-3 grid-cols-1 gap-10 lg:mx-10">
        <div
          class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-purple-300 px-5 rounded-lg">
          <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div
              class="from-purple-700 to-red-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
              <i class="lni lni-certificate text-white text-4xl"></i>
            </div>
            <div class="mt-8 services-content">
              <h4 class="mb-8 text-xl font-bold text-gray-900">Events</h4>
              <p class="mb-8">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod
                tempor
                invidunt labore.</p>
              <a class="duration-300 hover:text-purple-600" href="javascript:void(0)">Learn More <i
                  class="ml-2 lni lni-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div
          class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-red-300 px-5 rounded-lg">
          <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div
              class="from-red-700 to-yellow-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
              <i class="lni lni-text-align-center text-white text-4xl"></i>
            </div>
            <div class="mt-8 services-content">
              <h4 class="mb-8 text-xl font-bold text-gray-900">Content</h4>
              <p class="mb-8">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod
                tempor
                invidunt labore.</p>
              <a class="duration-300 hover:text-red-600" href="javascript:void(0)">Learn More <i
                  class="ml-2 lni lni-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div
          class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-blue-300 px-5 rounded-lg">
          <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div
              class="from-blue-700 to-green-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
              <i class="lni lni-consulting text-white text-4xl"></i>
            </div>
            <div class="mt-8 services-content">
              <h4 class="mb-8 text-xl font-bold text-gray-900">Guidance</h4>
              <p class="mb-8">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod
                tempor
                invidunt labore.</p>
              <a class="duration-300 hover:text-blue-600" href="javascript:void(0)">Learn More <i
                  class="ml-2 lni lni-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="facts" class="pt-20 video-counter">
    <div class="container">
      <div class="row">
        <div class="w-full lg:w-1/2">
          <div class="relative pb-8 mt-12 video-content wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <img class="absolute bottom-0 left-0 -ml-8 dots" src="/img/dots.svg" alt="dots">
            <div class="relative mr-6 rounded-lg shadow-md video-wrapper">
              <div class="video-image">
                <img class="rounded" src="img/team-1.png" alt="video">
              </div>
              <div
                class="absolute top-0 left-0 flex items-center justify-center w-full h-full bg-blue-900 bg-opacity-25 rounded-lg video-icon">
                <a href="https://youtu.be/gfHbg53ykPY" target="blank" class="video-popup"><i
                    class="lni lni-play"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="pl-0 mt-12 counter-wrapper lg:pl-16 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="counter-content">
              <div class="mb-8 section-title">
                <div class="line"></div>
                <h3 class="text-4xl font-bold">Cool facts<span class="font-normal"> about our
                    organization</span></h3>
              </div>
              <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod
                tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div class="flex flex-col items-center md:flex-row md:justify-between mt-12">
              <div
                class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center sm:mb-5  h-28 w-28 from-purple-700 to-red-200 bg-gradient-to-br rounded-lg counter-color-1">
                <div class="text-center counter-items">
                  <span class="text-2xl font-bold text-white"><span class="counter">10</span>K+</span>
                  <p class="text-white">Participants</p>
                </div>
              </div>
              <div
                class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center mx-1 sm:mb-5  h-28 w-28 from-red-700 to-yellow-200 bg-gradient-to-br rounded-lg counter-color-2">
                <div class="text-center counter-items">
                  <span class="text-2xl font-bold text-white"><span class="counter">200</span>+</span>
                  <p class="text-white">Events</p>
                </div>
              </div>
              <div
                class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center sm:mb-5  h-28 w-28 from-blue-700 to-green-200 bg-gradient-to-br rounded-lg counter-color-3">
                <div class="text-center counter-items">
                  <span class="text-2xl font-bold text-white"><span class="counter">100</span>+</span>
                  <p class="text-white">Members</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="team" class="team-area pt-16">
    <div class="container">
      <div class="justify-center row">
        <div class="w-full lg:w-2/3">
          <div class="pb-8 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-4xl font-bold">Meet Our<span class="font-normal"> Creative Team Members</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="justify-center row">
        <div class="w-full sm:w-2/3 lg:w-1/3">
          <div class="hover: mt-8 text-center pb-5 mx-5 overflow-hidden duration-200 hover:shadow-xl wow fadeIn"
            data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative py-5">
              <img class="w-full rounded-t-lg h-80"
                src="https://images.pexels.com/photos/374044/pexels-photo-374044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Team">
            </div>
            <div class="mt-3">
              <ul
                class="relative inline-flex bg-transparent duration-200 opacity-40 hover:opacity-100 hover:from-red-700 hover:to-yellow-200 hover:bg-gradient-to-br hover:text-black px-6 py-4 overflow-hidden rounded-lg">
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-700 duration-200 text-xl opacity-100 lni-facebook-filled"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-400 duration-200 text-xl opacity-100 lni-twitter-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-red-500 duration-200 text-xl opacity-100 lni-instagram-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-purple-700 duration-200 text-xl opacity-100 lni-linkedin-original pl-5"></i></a>
                </li>
              </ul>
            </div>
            <div class="px-8 py-4">
              <h5 class="mb-1 text-xl font-bold text-gray-900">Full Name</h5>
              <p>Designation</p>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-2/3 lg:w-1/3">
          <div class="mt-8 text-center pb-5 mx-5 overflow-hidden duration-200 hover:shadow-xl wow fadeIn"
            data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative py-5">
              <img class="w-full rounded-t-lg h-80"
                src="https://images.pexels.com/photos/374044/pexels-photo-374044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Team">
            </div>
            <div class="mt-3">
              <ul
                class="relative inline-flex  bg-transparent duration-200 opacity-40 hover:opacity-100 hover:from-red-700 hover:to-yellow-200 hover:bg-gradient-to-br hover:text-black px-6 py-4 overflow-hidden rounded-lg">
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-700 duration-200 opacity-100 text-xl lni-facebook-filled"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-400 duration-200 opacity-100 text-xl lni-twitter-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-red-500 duration-200 opacity-100 text-xl lni-instagram-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-purple-700 duration-200 opacity-100 text-xl lni-linkedin-original pl-5"></i></a>
                </li>
              </ul>
            </div>
            <div class="px-8 py-4">
              <h5 class="mb-1 text-xl font-bold text-gray-900">Full Name</h5>
              <p>Designation</p>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-2/3 lg:w-1/3">
          <div class="mt-8 text-center pb-5 mx-5 overflow-hidden duration-200 hover:shadow-xl wow fadeIn"
            data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="relative py-5">
              <img class="w-full rounded-t-lg h-80"
                src="https://images.pexels.com/photos/374044/pexels-photo-374044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Team">
            </div>
            <div class="mt-3">
              <ul
                class="relative inline-flex  bg-transparent duration-200 opacity-40 hover:opacity-100 hover:from-red-700 hover:to-yellow-200 hover:bg-gradient-to-br hover:text-black px-6 py-4  overflow-hidden rounded-lg">
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-700 duration-200 opacity-100 text-xl lni-facebook-filled"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-blue-400 duration-200 opacity-100 text-xl lni-twitter-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-red-500 duration-200 opacity-100 text-xl lni-instagram-filled pl-5"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni text-black hover:text-purple-700 duration-200 opacity-100 text-xl lni-linkedin-original pl-5"></i></a>
                </li>
              </ul>
            </div>
            <div class="px-8 py-4">
              <h5 class="mb-1 text-xl font-bold text-gray-900">Full Name</h5>
              <p>Designation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="py-5 pb-5 mt-10 py-auto brand-area">
    <div class="container">
      <div class="row">
        <div class="w-full">
          <div class="items-center justify-center row lg:justify-between">
            <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <img src="/img/brand-yt.png" alt="brand">
            </div>
            <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
              <img src="/img/brand-yt.png" alt="brand">
            </div>
            <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
              <img src="/img/brand-yt.png" alt="brand">
            </div>
            <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
              <img src="/img/brand-yt.png" alt="brand">
            </div>
            <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
              <img src="/img/brand-yt.png" alt="brand">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="testimonial" class="testimonial-area my-24 pt-22">
    <div class="container">
      <div class="justify-center row">
        <div class="w-full lg:w-2/3">
          <div class="pb-10 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-4xl font-bold">Users sharing<span class="font-normal"> their experience</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row testimonial-active wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
        <div class="border-2 px-5 h-full py-10 rounded-lg hover:shadow-lg mb-5 border-transparent duration-200 mx-2">
          <div class="">
            <div class="flex items-center justify-between mb-6">
              <div class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <div class="star">
                <ul class="flex">
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                </ul>
              </div>
            </div>
            <div class="mb-8 px-5">
              <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
                invidunt
                labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
            </div>
            <div class="flex justify-center items-center my-5">
              <div class="relative mx-5">
                <img class="rounded-full w-28 h-28"
                  src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="author">
              </div>
              <div class="author-content media-body">
                <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
                <p>Designation, Company</p>
              </div>
            </div>
          </div>
        </div>
        <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
          <div class="">
            <div class="flex items-center justify-between mb-6">
              <div class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <div class="star">
                <ul class="flex">
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                </ul>
              </div>
            </div>
            <div class="mb-8 px-5">
              <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
                invidunt
                labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
            </div>
            <div class="flex justify-center items-center my-5">
              <div class="relative mx-5">
                <img class="rounded-full w-28 h-28"
                  src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="author">
              </div>
              <div class="author-content media-body">
                <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
                <p>Designation, Company</p>
              </div>
            </div>
          </div>
        </div>
        <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
          <div class="">
            <div class="flex items-center justify-between mb-6">
              <div class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <div class="star">
                <ul class="flex">
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                </ul>
              </div>
            </div>
            <div class="mb-8 px-5">
              <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
                invidunt
                labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
            </div>
            <div class="flex justify-center items-center my-5">
              <div class="relative mx-5">
                <img class="rounded-full w-28 h-28"
                  src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="author">
              </div>
              <div class="author-content media-body">
                <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
                <p>Designation, Company</p>
              </div>
            </div>
          </div>
        </div>
        <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
          <div class="">
            <div class="flex items-center justify-between mb-6">
              <div class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <div class="star">
                <ul class="flex">
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                  <li><i class="lni lni-star-filled text-red-400"></i></li>
                </ul>
              </div>
            </div>
            <div class="mb-8 px-5">
              <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
                invidunt
                labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
            </div>
            <div class="flex justify-center items-center my-5">
              <div class="relative mx-5">
                <img class="rounded-full w-28 h-28"
                  src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="author">
              </div>
              <div class="author-content media-body">
                <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
                <p>Designation, Company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer id="footer" class="relative z-10 footer-area pt-2">
    <div class="footer-bg" style="background-image: url(/img/footer-bg.svg);"></div>
    <div class="container">
      <div class="px-6 pt-5 pb-5 mb-10 bg-white rounded-lg shadow-xl md:px-12 subscribe-area wow fadeIn"
        data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="flex flex-col justify-center items-center">
          <div class="w-full lg:w-1/2">
            <div class="lg:mt-12 text-center">
              <h2 class="text-2xl font-bold sm:text-4xl ">
                Subscribe to our
                <span class="block font-normal">Monthly Magazine</span>
              </h2>
            </div>
          </div>
          <div class="w-full lg:w-1/2">
            <div class="mt-12 subscribe-form">
              <form action="/newsletter-sub" method="POST" class="relative focus:outline-none">
                <input type="email" name="email" placeholder="Enter email"
                  class="w-full relative py-4 pl-6 pr-40 duration-300 border-2 rounded focus:border-red-400 focus:outline-none">
                <button
                  class="inline-block absolute right-0 px-5 font-semibold text-white duration-200 rounded-r hover:shadow-xl h-full bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500 overflow-hidden">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget pb-24">
        <div class="row">
          <div class="w-4/5 md:w-3/5 lg:w-2/6">
            <div class="mt-12  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <a class="inline-block mb-8 logo" href="index.html">
                <span class="text-white text-4xl font-bold">E-Cell</span>
              </a>
              <p class="pb-10 pr-10 leading-snug text-white">Lorem ipsum dolor sit amet consetetur
                sadipscing elitr,
                sederfs diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
              <ul class="flex">
                <li><a href="javascript:void(0)"><i
                      class="lni lni-facebook-filled mr-10 transform hover:-translate-y-1 text-white hover:text-black duration-200 text-2xl"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-twitter-filled mr-10 transform hover:-translate-y-1 text-white hover:text-black duration-200 text-2xl"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-instagram-filled mr-10 transform hover:-translate-y-1 text-white hover:text-black duration-200 text-2xl"></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-linkedin-original transform hover:-translate-y-1 text-white hover:text-black duration-200 text-2xl"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-4/5 sm:w-2/3 md:w-3/5 lg:w-2/6">
            <div class="row">
              <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2">
                <div class="mt-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="">
                    <h4 class="mb-8 text-2xl font-bold text-white">Quick Link</h4>
                  </div>
                  <ul class="text-white">
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Departments</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Privacy Policy</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Register</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Terms of Service</a>
                    </li>
                    <li class="hover:text-red-400 hover:-translate-x-1 transform duration-200"><a
                        href="javascript:void(0)">Login</a></li>
                  </ul>
                </div>
              </div>
              <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2">
                <div class="mt-12 link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div>
                    <h4 class="mb-8 text-2xl font-bold text-white">Resources</h4>
                  </div>
                  <ul class="text-white">
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform  duration-200">
                      <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Events</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">Testimonials</a>
                    </li>
                    <li class="mb-3 hover:text-red-400 hover:-translate-x-1 transform duration-200">
                      <a href="javascript:void(0)">FAQ</a>
                    </li>
                    <li class="hover:text-red-400 hover:-translate-x-1 transform duration-200"><a
                        href="javascript:void(0)">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="w-4/5 sm:w-1/3 md:w-2/5 lg:w-2/6">
            <div class="mt-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
              <div class="footer-title">
                <h4 class="mb-8 text-2xl font-bold text-white">Contact Us</h4>
              </div>
              <ul class="contact">
                <li class="cursor-pointer mb-3 hover:text-red-400 hover:-translate-x-1 transform  duration-200">
                  +91
                  7529856345</li>
                <li class="cursor-pointer mb-3 hover:text-red-400 hover:-translate-x-1 transform  duration-200">
                  konarklohat123456@gmail.com</li>
                <li class="cursor-pointer hover:text-red-400 hover:-translate-x-1 transform  duration-200">
                  Gill Park,
                  Gill Road, Ludhiana ,<br> Punjab 141006.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-8 border-t border-gray-200">
        <p class="text-white text-center">
          Designed & Developed By <a class="duration-300 hover:text-red-400" href="#" rel="nofollow"
            target="_blank">Technical Team, E-Cell.</a>
        </p>
      </div>
    </div>
    <div id="particles-2" class="particles"></div>
  </footer>


  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>





  <script src="/js/jquery-3.5.1-min.js"></script>
  <script src="/js/modernizr-3.7.1.min.js"></script>

  <script src="/js/plugins.js"></script>

  <script src="/js/slick.min.js"></script>

  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/scrolling-nav.js"></script>

  <script src="/js/wow.min.js"></script>

  <script src="/js/particles.min.js"></script>

  <script src="/js/main.js"></script>
</body>

</html>