<!-- Start of the hero section -->
<div id="hero" class="md:h-screen pt-52 top-0 left-0 right-0 pb-32 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">

    <div class="flex flex-col">
        <div class="text-center">
            <h1 data-aos="fade-down" data-aos-once="true"
                class="text-3xl md:text-6xl lg:text-7xl dark:text-black text-white font-bold">Entrepreneurship Cell
            </h1>
            <p data-aos="zoom-in" data-aos-once="true"
                class="md:text-2xl text-md dark:text-black text-white font-semibold mt-5">Guru Nanak Dev, Engineering
                College</p>
            <span
                class="md:text-xl text-sm dark:text-black text-white">Ludhiana</span>
        </div>
        <div data-aos="zoom-out" data-aos-once="true" class="text-center my-5">
            <div class="inline-block mr-2 mt-2">
                <a type="button" href="#about"
                    class="focus:outline-none text-white font-semibold  text-md uppercase py-2.5 px-5 rounded-md bg-indigo-800 hover:bg-gray-900 dark:hover:bg-gray-900 dark:hover:text-white duration-200 dark:bg-gray-100 dark:text-black">Explore</a>
            </div>
        </div>
    </div>

</div>
</div>
<!-- End of the hero section -->