<!-- Start of the hero section -->
<div id="hero" class="lg:h-screen w-full pt-52 top-0 left-0 right-0 pb-32">

    <div class="flex flex-col">
        <div class="text-center">
            <p class="md:text-2xl text-md text-white font-semibold">Innovate | Work Hard | Grow</p>
            <h1 amp-fx="parallax" data-parallax-factor="1.7"
                class="text-3xl md:text-6xl lg:text-7xl text-white font-bold">Entrepreneurship
                <br>Cell
            </h1>
            <p class="md:text-2xl text-md text-white font-semibold mt-5">Guru Nanak Dev, Engineering
                College</p>
            <span class="md:text-xl text-sm text-white">Ludhiana</span>
        </div>
        <div class="text-center my-5">
            <div class="inline-block mr-2 mt-2">
                <a type="button" href="#about"
                    class="focus:outline-none text-white font-semibold  text-md uppercase py-2.5 px-5 rounded-md bg-indigo-800 hover:bg-indigo-900 dark:hover:bg-indigo-600 dark:hover:text-white duration-200 dark:bg-gray-100 dark:text-black">Explore</a>
            </div>
        </div>
    </div>

</div>
</div>
<!-- End of the hero section -->