<!-- About Us Starts -->
<div id="about" class="bg-gray-200 dark:bg-gray-800 dark:text-white">
    <h1 data-aos="zoom-in" data-aos-once="true"
        class="mb-7 pt-16 text-5xl font-bold text-center bg-gradient-to-r from-red-500 via-blue-600 to-green-100 text-transparent bg-clip-text">
        About Us
    </h1>
    <div class="flex items-center px-3 lg:px-16 flex-col lg:flex-row">
        <img data-aos="fade-up" data-aos-once="true" src="./img/team.jpg" class="rounded lg:w-1/2 sm:mb-4" alt="">
        <div data-aos="fade-down" data-aos-once="true" class="flex flex-col sm:px-12 pt-3 lg:pt-0 lg:w-1/2">
            <span class="text-md text-gray-600">Who we are</span>
            <h1 class="lg:text-4xl text-5xl font-semibold">Introduction</h1>
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis
                mollitia neque fugiat deserunt officia, facere incidunt, architecto nam enim aut nulla
                voluptatibus debitis at, pariatur molestiae? Possimus, reiciendis eius.
            </p>
            <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis
                mollitia neque fugiat deserunt officia, facere incidunt, architecto nam enim aut.
            </p>
        </div>
    </div>
    <div class="flex items-center px-3 lg:px-16 mt-4 pb-4 flex-col-reverse lg:flex-row">
        <div data-aos="fade-down" data-aos-once="true" class="flex flex-col sm:px-12 pt-3 lg:pt-0 lg:w-1/2">
            <span class="text-md text-gray-600">Who we are</span>
            <h1 class="lg:text-4xl text-5xl font-semibold">Work</h1>
            <p class="lg:mr-12 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis
                mollitia neque fugiat deserunt officia, facere incidunt, architecto nam enim aut nulla
                voluptatibus debitis at, pariatur molestiae? Possimus, reiciendis eius.
            </p>
            <p class="lg:mr-12 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis
                mollitia neque fugiat deserunt officia, facere incidunt, architecto nam enim aut.
            </p>
        </div>
        <img data-aos="fade-up" data-aos-once="true" src="./img/slider2.jpg" class="rounded lg:w-1/2" alt="">
    </div>
</div>
<!-- About Us Ends -->