<!-- Department Starts -->
<div id="department" class="bg-gray-100 dark:bg-gray-900 dark:text-white pb-10">
    <h1 data-aos="zoom-in" data-aos-once="true"
        class="mb-7 pt-16 text-3xl md:text-5xl font-bold text-center bg-gradient-to-r from-red-500 via-blue-600 to-green-100 text-transparent bg-clip-text">
        Departments
    </h1>
    <div id="dept_div">
        <div class="container mx-auto mt-10 px-5 grid grid-cols-1 gap-8 xl:grid-cols-3">
            <div data-aos-once="true" data-aos="fade-up">
                <div class="rounded-xl shadow-lg bg-gray-800 hover:bg-black transition duration-300 ease-in flex flex-col p-8">
                    <div
                        class="w-16 h-16 inline-flex items-center mx-auto justify-center rounded-full bg-green-100 text-green-500 mb-5">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="flex-grow text-white">
                        <h2 class="text-xl title-font font-medium mb-3 text-center">Analytical & Research</h2>
                        <p class="leading-relaxed text-sm text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tenetur necessitatibus at
                            nihil! Facilis ratione eius mollitia laboriosam cum eaque, minus reiciendis explicabo fuga,
                            nihil at enim. Perspiciatis, dolore explicabo.
                        </p>
                    </div>
                </div>
            </div>
            <div data-aos-once="true" data-aos="fade-up">
                <div class="rounded-xl shadow-lg bg-gray-800 hover:bg-black transition ease-in flex flex-col p-8">
                    <div
                        class="w-16 h-16 inline-flex items-center mx-auto justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-4">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="flex-grow text-white">
                        <h2 class="text-xl title-font font-medium mb-3 text-center">Technical</h2>
                        <p class="leading-relaxed text-sm text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tenetur necessitatibus at
                            nihil! Facilis ratione eius mollitia laboriosam cum eaque, minus reiciendis explicabo fuga,
                            nihil at enim. Perspiciatis, dolore explicabo.
                        </p>
                    </div>
                </div>
            </div>
            <div  data-aos-once="true" data-aos="fade-up">
                <div class="rounded-xl shadow-lg bg-gray-800 hover:bg-black transition ease-in flex flex-col p-8">
                    <div
                        class="w-16 h-16 inline-flex items-center mx-auto justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-4">
                        <i class="fas fa-pencil-ruler"></i>
                    </div>
                    <div class="flex-grow text-white">
                        <h2 class="text-xl title-font font-medium mb-3 text-center">Creative Designing</h2>
                        <p class="leading-relaxed text-sm text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tenetur necessitatibus at
                            nihil! Facilis ratione eius mollitia laboriosam cum eaque, minus reiciendis explicabo fuga,
                            nihil at enim. Perspiciatis, dolore explicabo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="dept_button" class="flex justify-center mr-2 pt-8 lg:mt-2">
        <button onclick="showAllDepartments()" type="button"
            class="focus:outline-none text-white font-semibold  text-sm py-2.5 px-5 rounded-md bg-indigo-600 hover:bg-gray-900 dark:hover:bg-indigo-900 dark:hover:text-white duration-200">View More/Join</button>
    </div>
</div>
<!-- Department Ends -->