<!-- Events Starts -->
<div id="event" class="bg-gray-200 dark:bg-gray-800 dark:text-white pb-10">
    <h1 data-aos="zoom-in" data-aos-once="true"
        class="mb-7 pt-16 text-5xl font-bold text-center bg-gradient-to-r from-red-500 via-blue-600 to-green-100 text-transparent bg-clip-text">
        Latest Events
    </h1>
    <div class="grid grid-cols-1 gap-1 xl:grid-cols-3">
        <div data-aos="fade-up" data-aos-once="true" class="py-4 px-4">
            <div
                class="shadow-lg group container rounded-md bg-white max-w-xl md:max-w-4xl xl:max-w-lg flex justify-center items-center  mx-auto content-div-1">
                <div>
                    <div class="w-full image-cover rounded-t-md">
                        <div
                            class="p-2 m-4 w-16 h-16 text-center bg-gray-700 rounded-full text-white float-right fd-cl group-hover:opacity-25">
                            <span class="text-base tracking-wide  font-bold border-b border-white font-sans"> 22</span>
                            <span class="text-xs tracking-wide font-bold uppercase block font-sans">June</span>
                        </div>
                    </div>
                    <div class="py-8 px-4 bg-white dark:bg-gray-700  rounded-b-md fd-cl duration-500 group-hover:opacity-25">
                        <span class="block text-2xl text-gray-800 font-bold tracking-wide dark:text-white">Event Name</span>
                        <span class="block text-gray-600 text-sm dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nulla magnam ullam dignissimos nihil. Magni, doloremque molestiae ex officiis, sed
                            quos molestias sit officia nobis, velit consectetur. Optio blanditiis quo numquam!
                        </span>
                        <span class="text-sm text-gray-600 dark:text-gray-200">Organiser - Konark Lohat
                            <br>WhatsApp - 7529856345</span>
                    </div>
                </div>
                <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
                    <span class="text-3xl font-bold text-white tracking-wider leading-relaxed font-sans">Event
                        Name</span>
                    <div class="pt-8 text-center">
                        <button
                            class="text-center rounded-lg p-4 bg-white hover:bg-gray-900 duration-200 dark:hover:bg-gray-200 dark:bg-gray-900 dark:text-white dark:hover:text-black hover:text-white text-gray-700 font-bold text-lg">Register
                            For Event!</button>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-down" data-aos-once="true" class="py-4 px-4 ">
            <div
                class="shadow-lg group container  rounded-md bg-white max-w-lg md:max-w-4xl  xl:max-w-lg flex justify-center items-center  mx-auto content-div-2">
                <div>
                    <div class="w-full image-cover rounded-t-md">
                        <div
                            class="p-2 m-4 w-16 h-16 text-center bg-gray-700 rounded-full text-white float-right fd-cl group-hover:opacity-25">
                            <span class="text-base tracking-wide  font-bold border-b border-white font-sans"> 24</span>
                            <span class="text-xs tracking-wide font-bold uppercase block font-sans">June</span>
                        </div>
                    </div>
                    <div class="py-8 px-4 bg-white dark:bg-gray-700 rounded-b-md fd-cl  duration-500 group-hover:opacity-25">
                        <span class="block text-2xl text-gray-800 dark:text-white font-bold tracking-wide">Event Name</span>
                        <span class="block text-gray-600 text-sm dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nulla magnam ullam dignissimos nihil. Magni, doloremque molestiae ex officiis, sed
                            quos molestias sit officia nobis, velit consectetur. Optio blanditiis quo numquam!
                        </span>
                        <span class="text-sm text-gray-600 dark:text-gray-200">Organiser Name - Konark Lohat
                            <br>WhatsApp - 7529856345</span>
                    </div>
                </div>
                <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
                    <span class="text-3xl font-bold text-white tracking-wider leading-relaxed font-sans">Event
                        Name</span>
                    <div class="pt-8 text-center">
                        <button
                            class="text-center rounded-lg p-4 bg-white  text-gray-700 dark:hover:bg-gray-200 dark:bg-gray-900 dark:text-white dark:hover:text-black font-bold text-lg hover:bg-gray-900 duration-200 hover:text-white">Register
                            For Event!</button>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-once="true" class="py-4 px-4">
            <div
                class="shadow-lg group container  rounded-md bg-white max-w-4xl  xl:max-w-lg flex justify-center items-center  mx-auto content-div-3">
                <div>
                    <div class="w-full image-cover rounded-t-md">
                        <div
                            class="p-2 m-4 w-16 h-16 text-center bg-gray-700 rounded-full text-white float-right fd-cl group-hover:opacity-25">
                            <span class="text-base tracking-wide  font-bold border-b border-white font-sans"> 29</span>
                            <span class="text-xs tracking-wide font-bold uppercase block font-sans">June</span>
                        </div>
                    </div>
                    <div class="py-8 px-4 bg-white dark:bg-gray-700 rounded-b-md fd-cl  duration-500 group-hover:opacity-25">
                        <span class="block text-2xl text-gray-800 font-bold tracking-wide dark:text-white">Event Name</span>
                        <span class="block text-gray-600 text-sm dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nulla magnam ullam dignissimos nihil. Magni, doloremque molestiae ex officiis, sed
                            quos molestias sit officia nobis, velit consectetur. Optio blanditiis quo numquam!
                        </span>
                        <span class="text-sm text-gray-600 dark:text-gray-200">Organiser Name - Konark Lohat
                            <br>WhatsApp - 7529856345</span>
                    </div>
                </div>
                <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
                    <span class="text-3xl font-bold text-white tracking-wider leading-relaxed font-sans">Event
                        Name</span>
                    <div class="pt-8 text-center">
                        <button
                            class="text-center rounded-lg p-4 bg-white  text-gray-700 dark:hover:bg-gray-200 dark:bg-gray-900 dark:text-white dark:hover:text-black font-bold text-lg hover:bg-gray-900 duration-200 hover:text-white">Register
                            For Event!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dept_button" class="flex justify-center mr-2 mt-2">
        <a
            class="cursor-pointer focus:outline-none text-white font-semibold  text-sm py-2.5 px-5 rounded-md bg-indigo-600 hover:bg-gray-900 dark:hover:bg-indigo-900 dark:hover:text-white duration-200">Explore/Register</a>
    </div>
</div>
<!-- Events Ends -->