<div class="">
    <div class="w-full bg-blue-900 py-24  overflow-hidden">
        <div class="container mx-auto z-10">
            <div class="flex justify-center">
                <h1 class="xl:text-4xl mx-auto lg:text-4xl inline-block xl:text-left text-white font-bold pb-8">Subscribe to our monthly NewsLetter!</h1>
            </div>
            <div
                class="flex items-center mx-auto justify-center xl:w-1/3 lg:w-1/3 md:w-1/3 lg:mx-auto w-10/12 border-b border-gray-400 z-10">
                <input type="text" placeholder="Enter Your Email"
                    class="bg-transparent focus:outline-none text-white w-11/12 pb-4" id="email" aria-label="email" />
                <a class="pb-3" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right"
                        width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#CBD5E0" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="15" y1="16" x2="19" y2="12" />
                        <line x1="15" y1="8" x2="19" y2="12" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>