<div class="bg-black">
    <footer class="flex flex-wrap items-center justify-between p-3 m-auto">
        <div class="container mx-auto flex flex-col flex-wrap items-center justify-between">
            <ul class="flex mx-auto text-white text-center">
                <div class="my-2 lg:mt-3">
                    <div class="text-center mb-4">
                        <span class="text-4xl text-blue-300 ">Follow Us</span>
                    </div>
                    <div class="social justify-center">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="far fa-envelope"></a>
                        <a href="#" class="fab fa-twitter"></a>
                    </div>
                </div>
            </ul>
            <div class="flex mx-auto text-white text-center">
                <p>
                    E-Cell © 2021.
                    <br>
                    Developed with &#10084;&#65039; By <a href="#" class="hover:underline">E-Cell Technical Team</a>
                </p>
            </div>
        </div>
    </footer>
</div>