body {
  font-family: lato, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: poppins, sans-serif;
}
p {
  font-size: 16px;
  line-height: 24px;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

#home {
  background-color: #0803ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232122ff'/%3E%3Cstop offset='1' stop-color='%232122ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234a35ff'/%3E%3Cstop offset='1' stop-color='%234a35ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236053ff'/%3E%3Cstop offset='1' stop-color='%236053ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230803ff'/%3E%3Cstop offset='1' stop-color='%230803ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233e44ff'/%3E%3Cstop offset='1' stop-color='%233e44ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238367ff'/%3E%3Cstop offset='1' stop-color='%238367ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 900px;
}

@media (max-width: 837px) {
  #home {
    height: 700px;
  }
}

@media (max-width: 984px) {
  .nav-item {
    color: black;
  }
}

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-duration: 300ms;
  background-color: transparent;
}
.custom-sticky {
  position: fixed;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 1024px) {
  .navbar-area {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
.collapse.show {
  display: block;
}
.toggler-icon {
  position: relative;
  display: block;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  height: 2px;
  width: 30px;
  margin: 6px 0;
}
.custom-sticky .toggler-icon {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}
.active > .toggler-icon:nth-child(1) {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: 45deg;
  top: 7px;
}
.active > .toggler-icon:nth-child(2) {
  opacity: 0;
}
.active > .toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}
.navbar-nav .nav-item a {
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  text-transform: capitalize;
  transition-duration: 300ms;
}
.custom-sticky .navbar-nav .nav-item a {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}
.show .navbar-nav .nav-item a {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}
.show .navbar-nav .nav-item.active a,
.show .navbar-nav .nav-item a:hover,
.custom-sticky .navbar-nav .nav-item.active a,
.custom-sticky .navbar-nav .nav-item a:hover {
  --text-opacity: 1;
  color: red;
}
.gradient-btn {
  background-image: linear-gradient(
    to right,
    #fe8464 0%,
    #fe6e9a 50%,
    #fe8464 100%
  );
  background-size: 200% auto;
  overflow: hidden;
}
.gradient-btn-2 {
  background-image: linear-gradient(
    to right,
    #33c8c1 0%,
    #119bd2 50%,
    #33c8c1 100%
  );
}
.gradient-btn:hover {
  background-position: right center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.main-btn {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
  border-radius: 0.5rem;
}
.main-btn:hover {
  --bg-opacity: 1;
  background-color: #63b3ed;
  background-color: rgba(99, 179, 237, var(--bg-opacity));
}
.header-hero {
  position: relative;
  z-index: 20;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.single-logo {
  max-width: 190px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 2rem;
  transition-duration: 300ms;
  opacity: 0.5;
}
.section-title .line {
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 10rem;
  height: 0.25rem;
  margin-bottom: 0.75rem;
}
.section-title .title {
  font-size: 32px;
  padding-top: 0.5rem;
  font-weight: 700;
}
.section-title .title span {
  font-weight: 400;
}
.single-services {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  text-align: center;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 2px;
  border-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.single-services:hover {
  --border-opacity: 1;
  border-color: #fe7a7b;
  border-color: rgba(254, 122, 123, var(--border-opacity));
}
.services-icon {
  position: relative;
  display: inline-block;
}
.services-icon img {
  transition-duration: 300ms;
}
.services-icon .shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-services:hover .services-icon .shape {
  transform: rotate(25deg);
}
.services-icon i {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.about-shape-1 {
  z-index: -1;
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.about-shape-2 {
  z-index: -1;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.video-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 9999px;
  --text-opacity: 1;
  color: #fe7a7b;
  color: rgba(254, 122, 123, var(--text-opacity));
}
.single-counter {
  width: 155px;
  height: 120px;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  margin-top: 4rem;
}
.single-counter::before {
  content: "";
  border-radius: 60px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: -45deg;
}
.counter-color-1::before {
  background-image: linear-gradient(#33c8c1 0%, #119bd2 100%);
}
.counter-color-2::before {
  background-image: linear-gradient(#fe8464 0%, #fe6e9a 100%);
}
.counter-color-3::before {
  background-image: linear-gradient(#361cc1 0%, #2e82ef 100%);
}
.single-team {
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  transition-duration: 300ms;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.single-team:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.team-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
}
.team-social ul {
  position: relative;
  z-index: 10;
  display: inline-flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --bg-opacity: 0.25;
  border-radius: 9999px;
}
.team-social ul::before {
  content: "";
  background-image: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition-duration: 300ms;
  opacity: 0;
}
.single-team:hover .team-social ul::before {
  visibility: visible;
  opacity: 1;
}
.team-social ul a {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
}
.team-social ul a:hover {
  --text-opacity: 1;
  color: #361cc1;
  color: rgba(54, 28, 193, var(--text-opacity));
}
.single-testimonial {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 2px;
  border-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.slick-current .single-testimonial,
.single-testimonial:hover {
  --border-opacity: 1;
  border-color: #fe7a7b;
  border-color: rgba(254, 122, 123, var(--border-opacity));
}
.slick-current .single-testimonial .quota i,
.single-testimonial:hover .quota i {
  --text-opacity: 1;
  color: #fe7a7b;
  color: rgba(254, 122, 123, var(--text-opacity));
}
.author-image .author {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  margin-top: 1rem;
}
.slick-slide:focus {
  outline: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2.5rem;
}
.slick-dots li {
  line-height: 1;
}
.slick-dots button {
  text-indent: -999999px;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.25rem;
  transition-duration: 300ms;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  border-width: 0;
  border-radius: 9999px;
  opacity: 0.25;
  --bg-opacity: 1;
  background-color: #fe7a7b;
  background-color: rgba(254, 122, 123, var(--bg-opacity));
}
.slick-dots .slick-active button,
.slick-dots button:hover {
  --transform-scale-x: 1.25;
  --transform-scale-y: 1.25;
  opacity: 1;
}
.slick-dots button:focus {
  outline: 0;
}
.subscribe-form .main-btn {
  border-radius: 0 0.25em 0.25em 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .subscribe-form .main-btn {
    position: static;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }
}
.footer-bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-social li a {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
}
.footer-social li a:hover {
  --text-opacity: 1;
  color: #fe7a7b;
  color: rgba(254, 122, 123, var(--text-opacity));
}
.contact li {
  margin-bottom: 0.75rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.link li a {
  display: inline-block;
  margin-bottom: 0.75rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
}
.link li a:hover {
  --text-opacity: 1;
  color: #fe7a7b;
  color: rgba(254, 122, 123, var(--text-opacity));
}
.back-to-top {
  background-image: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  background-size: 200% auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  transition-duration: 300ms;
  border-radius: 0.25rem;
}
.back-to-top:hover {
  background-position: right;
}

.counters {
  background: #0f479a;
  color: #fff;
  padding: 40px 20px;
  border-top: 3px lightskyblue solid;
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: lightskyblue;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
}
/* Event Page */

.layered-card {
  position: relative;
}

.layered-card:hover::before {
  background: rgba(0, 0, 0, 0.1);
  content: "";

  /* Position */
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0.8rem, 0.8rem);
  filter: blur(4px);

  /* Size */
  height: 100%;
  width: 100%;

  /* Display under the main content */
  z-index: -1152;
}

/* Department Page */
.social-accounts-ig:hover {
  background: linear-gradient(#ec4899, #ef4444, #f59e0b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/* .social-accounts-ig{
    margin-top: 2.5px;
    padding-top: 2.5px;
}
.social-accounts-in{
    margin-top: 2.5px;
    padding-top: 2.5px;
} */
.social-accounts-fb {
  margin-top: 3px;
}
.social-accounts-fb:hover {
  background: hsla(196, 100%, 31%, 1);
  background: linear-gradient(
    360deg,
    hsla(196, 100%, 31%, 1) 0%,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%
  );
  background: -moz-linear-gradient(
    360deg,
    hsla(196, 100%, 31%, 1) 0%,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%
  );
  background: -webkit-linear-gradient(
    360deg,
    hsla(196, 100%, 31%, 1) 0%,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00759f", endColorstr="#f8f8f8", GradientType=1 );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00759F", endColorstr="#F8F8F8", GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.social-accounts-in:hover {
  background: hsla(0, 0%, 97%, 1);
  background: linear-gradient(
    360deg,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%,
    hsla(196, 97%, 39%, 1) 100%
  );
  background: -moz-linear-gradient(
    360deg,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%,
    hsla(196, 97%, 39%, 1) 100%
  );
  background: -webkit-linear-gradient(
    360deg,
    hsla(0, 0%, 97%, 1) 0%,
    hsla(196, 97%, 38%, 1) 0%,
    hsla(196, 97%, 39%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#f8f8f8", endColorstr="#038ec0", GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.team-divider {
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-divider::before,
.team-divider::after {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 30vw;
}

.team-divider::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0), #d72a81);
  margin-right: 4vh;
}

.team-divider::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0), #d72a81);
  margin-left: 4vh;
}
/* department Page (9 Pages) */
/* 
.zoom-in-zoom-out-text{
    animation: zoom-in-zoom-out 0.9s ease infinite;
}

@keyframes zoom-in-zoom-out{
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }

} */

#timline {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213, 213, 213);z
  background: -moz-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}
.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}
.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: cadetblue;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

