<div id="about">
    <div class="py-16 sn:mt-16 mt-48 px-10">
      <div class="container">
        <div class="flex flex-wrap items-center">
          <div class="w-full lg:w-1/2">
            <div class="mb-5 sm:-mt-10 lg:mb-0">
              <div class="mb-4 sm:-mt-10 section-title">
                <div class="line"></div>
                <h3 class="text-4xl font-bold text-black">About<span class="font-normal"> Us</span></h3>
              </div>
              <div class="flex flex-wrap">
                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                  <div class="m-3">
                    <div class="text-indigo-600 text-4xl">
                      <i class="fas fa-layer-group"></i>
                    </div>
                    <div class="features-content-organized">
                      <h4 class="py-3 text-xl text-black font-semibold">Organized</h4>
                      <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Veniam tempora
                        quidem vel sint.</p>
                    </div>
                  </div>
                </div>
                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                  <div class="m-3">
                    <div class="text-indigo-600 text-4xl">
                      <i class="fas fa-gift"></i>
                    </div>
                    <div class="features-content-prizes">
                      <h4 class="py-3 text-xl text-black font-semibold">Prizes</h4>
                      <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Veniam tempora
                        quidem vel sint.</p>
                    </div>
                  </div>
                </div>
                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                  <div class="m-3">
                    <div class="text-indigo-600 text-4xl">
                      <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="features-content-flexibility">
                      <h4 class="py-3 text-xl text-black font-semibold">Flexibilty</h4>
                      <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Veniam tempora
                        quidem vel sint.</p>
                    </div>
                  </div>
                </div>
                <div data-aos="fade-up" class="w-full sm:w-1/2 lg:w-1/2">
                  <div class="m-3">
                    <div class="text-indigo-600 text-4xl">
                      <i class="fas fa-hands-helping"></i>
                    </div>
                    <div class="features-content-helpful">
                      <h4 class="py-3 text-xl text-black font-semibold">Helpful</h4>
                      <p class="text-gray-700"> Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Veniam tempora
                        quidem vel sint.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2">
            <div class="mx-3 lg:mr-0 lg:ml-3">
              <img src="/img/department_feature.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>