<!-- Department Heading -->
<div id="allDepartments" class="m-auto flex flex-col justify-center section-title mt-32 text-center wow fadeIn" data-wow-duration="1s"
  data-wow-delay="0.5s">
  <div class="m-auto line"></div>
  <h1 class="text-4xl font-bold text-black">Our Departments</h1>

</div>
<!-- Departments -->
<section id="departments" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="mt-20 mx-10 flex justify-center">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <% for (const dept of deptData) { %> 
      <div
        class="w-auto mb-2 bg-white border-2 border-transparent max-w-md mt-5 hover:border-red-600 duration-200 layered-card rounded wow fadeIn"
        data-wow-duration="1s" data-wow-delay="0.2s">
        <img class="rounded-sm h-52 w-full" src="<%= dept.pic %>">
        <div class="flex flex-col px-4 pt-3">
          <h1 class="font-semibold h-28 md:h-20 text-center text-xl text-black"><%= dept.name %></h1>
          <p class="text-black text-center"><i class="fa fa-quote-left pt-4" aria-hidden="true"></i>
          <%= dept.description.substring(0, 150) %>... 
          </p>
          <hr class="border-gray-600 mb-2 mt-1 opacity-20">
          <div class="flex justify-center items-center">
            <a href="/departments/<%= dept.name %>"
              class="inline w-1/2 text-lg text-white text-center duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2 my-5  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
              data-scroll-nav="0" href="#" rel="nofollow">Explore</a>
          </div>
        </div>
      </div>
      <% } %> 
    </div>
  </div>
</section>