<div class="py-5 pb-5 mt-10 py-auto brand-area">
  <div class="container">
    <div class="row">
      <div class="w-full">
        <div class="items-center justify-center row lg:justify-between">
          <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="/img/brand-yt.png" alt="brand">
          </div>
          <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <img src="/img/brand-yt.png" alt="brand">
          </div>
          <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
            <img src="/img/brand-yt.png" alt="brand">
          </div>
          <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
            <img src="/img/brand-yt.png" alt="brand">
          </div>
          <div class="single-logo hover:opacity-100 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <img src="/img/brand-yt.png" alt="brand">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>