<section id="features" class="services-area pt-16">
  <div class="container">
    <div class="justify-center row">
      <div class="w-full lg:w-2/3">
        <div class="pb-10 text-center section-title">
          <div class="m-auto line"></div>
          <h3 class="text-4xl font-bold">Our goals and objectives,<span class="font-normal"> to build a
              good
              entrepreneurship community</span></h3>
        </div>
      </div>
    </div>
    <div class="justify-center grid lg:grid-cols-3 grid-cols-1 gap-10 lg:mx-10">
      <div
        class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-purple-300 px-5 rounded-lg">
        <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div
            class="from-purple-700 to-red-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
            <i class="lni lni-certificate text-white text-4xl"></i>
          </div>
          <div class="mt-8 services-content">
            <h4 class="mb-8 text-xl font-bold text-gray-900">Events</h4>
            <p class="mb-8">All upcoming events, webinars and activities with their dates, details and enrollment procedures can be found here</p>
            <a class="duration-300 hover:text-purple-600" href="/events">Learn More <i
                class="ml-2 lni lni-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div
        class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-red-300 px-5 rounded-lg">
        <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div
            class="from-red-700 to-yellow-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
            <i class="lni lni-text-align-center text-white text-4xl"></i>
          </div>
          <div class="mt-8 services-content">
            <h4 class="mb-8 text-xl font-bold text-gray-900">Departments</h4>
            <p class="mb-8">E-Cell offers various Departments for you to explore and work in them by 
              flaunting your skills and creativity, with excellent people.</p>
            <a class="duration-300 hover:text-red-600" href="/departments">Explore <i
                class="ml-2 lni lni-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div
        class="text-center py-10 border-2 border-transparent hover:shadow-xl duration-200 hover:border-blue-300 px-5 rounded-lg">
        <div class=" wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div
            class="from-blue-700 to-green-200 bg-gradient-to-br flex justify-center items-center h-24 w-24 mx-auto rounded-full">
            <i class="lni lni-consulting text-white text-4xl"></i>
          </div>
          <div class="mt-8 services-content">
            <h4 class="mb-8 text-xl font-bold text-gray-900">Staff Dashboard</h4>
            <p class="mb-8">This functionality is exclusively for E-Cell faculty members to login at their ends and manage their organization.</p>
            <a class="duration-300 hover:text-blue-600" href="/dashboard">Visit <i
                class="ml-2 lni lni-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>