<div class="py-8 border-t border-gray-200">
    <p class="text-white text-center">
        Designed & Developed By <a class="duration-300 hover:text-red-400" href="/credits" rel="nofollow"
            target="_blank">Technical Team, E-Cell.</a>
    </p>
</div>