<div class="px-6 pt-3 pb-5 mb-10 bg-white rounded-lg shadow-2xl md:px-12 subscribe-area wow fadeIn"
  data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="flex flex-col justify-center items-center">
    <div class="w-full lg:w-1/2">
      <div class="lg:mt-9 text-center">
        <h2 class="text-2xl font-bold sm:text-3xl">Internship at E-cell</h2>
        <h2 class="text-lg font-normal sm:text-xl mt-6">
          Apply Here
        </h2>
      </div>
    </div>
    <div class="w-full lg:w-1/2">
      <div id="internship" class="mt-8 subscribe-form">
        <form class="relative focus:outline-none space-y-5">
          <input type="text" name="name"
            class="w-full relative py-4 pl-6 pr-40 duration-300 border-2 rounded focus:border-red-400 focus:outline-none"
            id="name" placeholder="Your Name">
          <input type="email" name="email" placeholder="Enter email"
            class="w-full relative py-4 pl-6 pr-40 duration-300 border-2 rounded focus:border-red-400 focus:outline-none">
            <!-- preferred department -->
            <!-- <label class="relative mt-10">Choose Preferred Department</label> -->
            <div class="relative flex flex-row select-dept">
              
              <!-- <svg class="w-full h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 200"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg> -->
              <select class="w-1/2 mr-2 border border-gray-300 rounded text-gray-600 h-10 pl-3 pr-8 bg-white hover:border-red-400 focus:outline-none" name="preferred_dept_1">
                <option selected disabled hidden>1st preferred Dept</option>
                <option value="none">No Preference</option>
                <option value="technical department">Technical Department</option>
                <option value="analytical research department">Analytical Research Department</option>
                <option value="creative designing department">Creative Designing Department</option>
                <option value="content writing department">Content Writing Department</option>
                <option value="database management department">Database Management Department</option>
                <option value="event management department">Event Management Department</option>
                <option value="public relations department">Public Relations Department</option>
                <option value="social media marketing department">Social Media Marketing Department</option>
                <option value="strategic planning department">Strategic Planning Department</option>
              </select>

              <select class="w-1/2 border border-gray-300 rounded text-gray-600 h-10 pl-3 pr-8 bg-white hover:border-red-400 focus:outline-none" name="preferred_dept_2">
                <option selected disabled hidden>2nd preferred Dept</option>
                <option value="none">No Preference</option>
                <option value="technical department">Technical Department</option>
                <option value="analytical research department">Analytical Research Department</option>
                <option value="creative designing department">Creative Designing Department</option>
                <option value="content writing department">Content Writing Department</option>
                <option value="database management department">Database Management Department</option>
                <option value="event management department">Event Management Department</option>
                <option value="public relations department">Public Relations Department</option>
                <option value="social media marketing department">Social Media Marketing Department</option>
                <option value="strategic planning department">Strategic Planning Department</option>
              </select>
            </div>
          <textarea name="description"
            class="w-full h-44 resize-none relative py-4 px-6 duration-300 border-2 rounded focus:border-red-400 focus:outline-none"
            id="description" maxlength="200" placeholder="Why you want to join E-cell?"></textarea>
          <button
          type="submit"
            class="m-auto w-full h-10 text-lg relative right-0 px-5 font-semibold text-white duration-200 rounded-md hover:shadow-xl bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500 overflow-hidden">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>