<div id="subscribe" class="px-6 pt-5 pb-5 mb-10 bg-white rounded-lg shadow-xl md:px-12 subscribe-area wow fadeIn"
data-wow-duration="1s" data-wow-delay="0.5s">
<div class="flex flex-col justify-center items-center">
  <div class="w-full lg:w-1/2">
    <div class="lg:mt-12 text-center">
      <h2 class="text-2xl font-bold sm:text-4xl ">
        Subscribe to our
        <span class="block font-normal">Monthly Magazine</span>
      </h2>
    </div>
  </div>
  <div class="w-full lg:w-1/2">
    <div class="mt-12 subscribe-form">
      <form class="relative focus:outline-none">
        <input type="email" name="email" placeholder="Enter email"
          class="w-full relative py-4 pl-6 pr-40 duration-300 border-2 rounded focus:border-red-400 focus:outline-none">
        <button
          type="submit"
          class="inline-block absolute right-0 px-5 font-semibold text-white duration-200 rounded-r hover:shadow-xl h-full bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500 overflow-hidden">Subscribe</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="px-6 pt-5 pb-5 mb-20 md:px-12">
</div>
 