<div class="navbar-area ">
    <div class="container relative z-50">
      <div class="row">
        <div class="w-full">
          <nav class="flex items-center justify-between navbar navbar-expand-lg">
            <a class="mr-4 navbar-brand" href="/">
              <span class="text-4xl font-semibold">E-Cell</span>
            </a>
            <button class="block navbar-toggler focus:outline-none lg:hidden" type="button" data-toggle="collapse"
              data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="absolute mt-72 lg:mt-0 rounded left-0 z-20 hidden w-full px-5 lg:py-2 duration-300 bg-white shadow lg:w-auto collapse navbar-collapse lg:block top-100 mt-full lg:static lg:bg-transparent lg:shadow-none"
              id="navbarOne">
              <ul id="nav"
                class="items-center mr-auto lg:justify-end relative inline-block capitalize duration-300 lg:flex">
                <li class="nav-item md:pb-2 active text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/">Home</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/event-create-101">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/event-create-101">Events</a>
                </li>
                <li class="nav-item md:pb-2 text-lg md:text-base">
                  <a class="scroll-page hover:text-red-300 duration-200 mr-5" href="/event-create-101">Events</a>
                </li>
              </ul>
            </div>
            <div class="absolute right-0 hidden mt-2 mr-24 navbar-btn sm:inline-block lg:mt-0 lg:static lg:mr-0">
              <a class="scroll-page inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
                data-scroll-nav="0" href="#footer">Feedback</a>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>