<section id="team" class="py-16 text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.9s">
    <div class="container">
      <div class="text-center flex flex-col justify-center items-center">
        <div class="team-divider text-4xl font-bold text-black mb-7">Our Team</div>
      </div>


      <div class="flex justify-center space-x-6 space-y-8 px-4 flex-wrap">
        <!-- Team Leader -->
        <class class="grid-cols-1">
          <div class="flex justify-center items-center">
            <div id="team_leader" class="mt-10">
              <h1 class="text-3xl text-center text-black">Team Leader</h1>
              <div class="border-gray-700 border-b-4 w-1/2 m-auto md:w-1/6 border-opacity-50 mb-12">
              </div>
              <div data-aos="fade-up"
                class="max-w-sm bg-white duration-200 layered-card border-2 border-transparent hover:border-red-500">
                <div class="team-item">
                  <div class="team-img relative">
                    <img class="img-fluid"
                      src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                      alt="">
                    <div class="team-overlay">
                      <ul class="flex justify-center space-x-2 text-2xl">
                        <li>
                          <a href="#">
                            <i class="fab fa-facebook hover:text-blue-800 duration-200"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-instagram hover:text-red-500 duration-200"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-linkedin hover:text-purple-800 duration-200"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="text-center px-5 py-3">
                    <h3 class="team-name">John Doe</h3>
                    <p>Team Leader</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Team Heads -->
          <div class="flex justify-center items-center">
            <div id="team_heads" class="mt-10">
              <div class="flex flex-col">
                <h1 class="text-3xl text-center text-black my-2">Team Heads</h1>
                <div class="border-gray-700 border-b-4 w-1/2 m-auto md:w-1/6 border-opacity-50 mb-12">
                </div>
                <div class="grid gap-8 lg:grid-cols-2 sm:grid-cols-1 md:grid-cols-1">
                  <div data-aos="fade-up"
                    class="max-w-sm bg-white duration-200 layered-card border-2 border-transparent hover:border-blue-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-blue-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Team Members -->
          <div class="flex justify-center items-center">
            <div id="team_members" class="mt-10">
              <div class="flex flex-col">
                <h1 class="text-3xl text-center text-black my-2">Team Members</h1>
                <div class="border-gray-700 border-b-4 m-auto w-2/3 md:w-1/6 border-opacity-50 mb-12">
                </div>
                <div class="grid gap-8 lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-1">
                  <!-- green border color is for team members -->
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grid gap-8 mt-4 lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-1">
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                  <div data-aos="fade-up"
                    class="max-w-sm layered-card bg-white duration-200 border-2 border-transparent hover:border-green-600">
                    <div class="team-item">
                      <div class="team-img relative">
                        <img class="img-fluid"
                          src="https://images.pexels.com/photos/356147/pexels-photo-356147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=900"
                          alt="">
                        <div class="team-overlay">
                          <ul class="flex justify-center space-x-2 text-2xl">
                            <li>
                              <a href="#">
                                <i class="hover:text-blue-800 duration-200 fab fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-red-500 duration-200 fab fa-instagram"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="hover:text-purple-800 duration-200 fab fa-linkedin"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="text-center px-5 py-3">
                        <h3 class="team-name">John Doe</h3>
                        <p>Team Leader</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>