<section id="testimonial" class="testimonial-area my-24 pt-22">
  <div class="container">
    <div class="justify-center row">
      <div class="w-full lg:w-2/3">
        <div class="pb-10 text-center section-title">
          <div class="m-auto line"></div>
          <h3 class="text-4xl font-bold">Users sharing<span class="font-normal"> their experience</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row testimonial-active">
      <div class="border-2 px-5 h-full py-10 rounded-lg hover:shadow-lg mb-5 border-transparent duration-200 mx-2">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
              invidunt
              labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
              <p>Designation, Company</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
              invidunt
              labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
              <p>Designation, Company</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
              invidunt
              labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
              <p>Designation, Company</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor
              invidunt
              labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Full Name</h6>
              <p>Designation, Company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>