<section id="facts" class="pt-20 video-counter">
  <div class="container">
    <div class="row">
      <div class="w-full lg:w-1/2">
        <div class="relative pb-8 mt-12 video-content wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <img class="absolute bottom-0 left-0 -ml-8 dots" src="/img/dots.svg" alt="dots">
          <div class="relative mr-6 rounded-lg shadow-md video-wrapper">
            <div class="video-image">
              <img class="rounded" src="img/team-1.png" alt="video">
            </div>
            <div
              class="absolute top-0 left-0 flex items-center justify-center w-full h-full bg-blue-900 bg-opacity-25 rounded-lg video-icon">
              <a href="https://youtu.be/gfHbg53ykPY" target="blank" class="video-popup"><i
                  class="lni lni-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="pl-0 mt-12 counter-wrapper lg:pl-16 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="counter-content">
            <div class="mb-8 section-title">
              <div class="line"></div>
              <h3 class="text-4xl font-bold">Cool facts<span class="font-normal"> about our
                  organization</span></h3>
            </div>
            <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod
              tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
          <div class="flex flex-col items-center md:flex-row md:justify-between mt-12">
            <div
              class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center sm:mb-5  h-28 w-28 from-purple-700 to-red-200 bg-gradient-to-br rounded-lg counter-color-1">
              <div class="text-center counter-items">
                <span class="text-2xl font-bold text-white"><span class="counter">10</span>K+</span>
                <p class="text-white">Participants</p>
              </div>
            </div>
            <div
              class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center mx-1 sm:mb-5  h-28 w-28 from-red-700 to-yellow-200 bg-gradient-to-br rounded-lg counter-color-2">
              <div class="text-center counter-items">
                <span class="text-2xl font-bold text-white"><span class="counter">200</span>+</span>
                <p class="text-white">Events</p>
              </div>
            </div>
            <div
              class="flex transform duration:200 transition ease-in mb-4 hover:-translate-y-2 items-center justify-center sm:mb-5  h-28 w-28 from-blue-700 to-green-200 bg-gradient-to-br rounded-lg counter-color-3">
              <div class="text-center counter-items">
                <span class="text-2xl font-bold text-white"><span class="counter">100</span>+</span>
                <p class="text-white">Members</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>