<section id="vision" class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-16 md:flex-row flex-col-reverse items-center">
    <div class="wow fadeIn lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0" data-wow-duration="1s" data-wow-delay="0.7s">
      <img class="object-cover object-center rounded" alt="Technical" src="/img/department_achievements.png">
    </div>
    <div class="wow fadeIn lg:flex-grow md:w-1/2 md:pl-10 flex flex-col md:items-start md:text-left items-center text-center" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="mb-4 section-title">
        <!-- <div class="line"></div> -->
        <h3 class="text-4xl font-bold  w-3/4 text-center border-t-4 border-red-400 pt-4 text-black ml-7">Vision</h3>
      </div>
      <p class="mb-8 md:ml-7 leading-relaxed">
        <% if (title.length > "E-Cell | Departments".length && title.substring(0, 20) === "E-Cell | Departments") { %> 
        <%= foundDept.description %>
        <% } else if (title === "E-Cell | Home") { %>
          The nature of being an entrepreneur means that you fully embrace ambiguity 
          and are comfortable with being challenged regularly.
          To develop, support and deliver the entrepreneurship 
          spirit among students in their quest to achieve success 
          in establishing their venture at all junctures.        <% } %> 
      </p>
      <!-- <div class="flex ml-7 pt-8 justify-center">
        <a class="inline-block px-5 font-semibold text-white duration-200 rounded-lg hover:shadow-xl transform hover:-translate-y-px py-2  bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500"
         href="#" rel="nofollow">Join Us!</a>
      </div> -->
    </div>
  </div>
</section>