<meta charset="utf-8">

<title><%= title %> </title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="img/favicon.png" type="image/gif" sizes="16x16">

<link rel="stylesheet" href="/css/animate.css">

<link rel="stylesheet" href="/css/magnific-popup.css">

<link rel="stylesheet" href="/css/slick.css">

<link rel="stylesheet" href="/css/LineIcons.2.0.css">

<link rel="stylesheet" href="/css/custom-new.css">

<link href="/css/tingle.css" rel="stylesheet">

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/tingle.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" />

<!-- Animate Styles CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />